.fade-up {
  opacity:0;
  transform:translateY(30px);
  transition:.8s;
}
.fade-up.show {
  opacity:1;
  transform:translateY(0);
}

#preloader {
  position:fixed;
  inset:0;
  background:var(--bg-color);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:2000;
}
.loader {
  width:50px;
  height:50px;
  border:5px solid var(--border);
  border-top-color:var(--primary);
  border-radius:50%;
  animation:spin 1s linear infinite;
}
@keyframes spin { to{transform:rotate(360deg);} }
